<style type="text/css">
body {
	margin: 0 auto;
	background: #ffffff;
	font-size: 13px;
}
    p {
        margin: 0 !important;
        padding: 0 !important;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }
img {
	border: none;
}

table {
	border-collapse: collapse;
}

td {
	font-family: arial, sans-serif;
	color: #666666;
}

.ReadMsgBody {
	width: 100%;
}

.ExternalClass {
	width: 100%;
}
.mainTable{
	margin:0 auto;
	}
 @media only screen and (max-width: 480px) {
body, .mainTable, body[yahoo], body[yahoo] .mainTable{
	margin:0;
	}
body[yahoo] .mainTable{
	width:100% !important
	}		
body, table, td, p, a, li, blockquote {
	-webkit-text-size-adjust: none !important;
}

body[yahoo] table {
	width: 100% !important;
}

body[yahoo] table.button {
	width: auto !important;
}

body[yahoo] .button, .button a {
	text-align: center;
}

body[yahoo] .no-mobile {
	display: none !important;
	width: 0px !important;
	overflow: hidden !important;
	float: left !important;
	height: 1px !important;
	max-height: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	font-size: 1px !important;
	background: #000000 !important;
	color: #000000 !important;
}

*[class~=no-mobile] {
	display: none !important;
	width: 0px !important;
	overflow: hidden !important;
	float: left !important;
	height: 1px !important;
	max-height: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	font-size: 1px !important;
	background: #000000 !important;
	color: #000000 !important;
}

body[yahoo] .section-padding {
	padding: 30px 20px 20px 20px !important;
}

td[class="no-mobile"] {
	display: none !important;
	width: 0px !important;
	overflow: hidden !important;
	float: left !important;
	height: 1px !important;
	max-height: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	font-size: 1px !important;
	background: #000000 !important;
	color: #000000 !important;
}

tr[class="no-mobile"] {
	display: none !important;
	width: 0px !important;
	overflow: hidden !important;
	float: left !important;
	height: 1px !important;
	max-height: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	font-size: 1px !important;
	background: #000000 !important;
	color: #000000 !important;
}

body[yahoo] .mobile-fix {
	padding: 0 0 30px 15px;
}

body[yahoo] .margin {
	padding: 0 10px;
}

body[yahoo] .margin-fix {
	padding: 0 10px 20px 10px;
}

body[yahoo] .responsive-image img {
	height: auto !important;
	max-width: 50% !important;
	width: 50% !important;
	margin: auto;
}

body[yahoo] .hero-title {
	padding: 0 10px !important;
	text-align: center !important;
}

body[yahoo] .header-top {
	padding: 10px !important;
}

body[yahoo] .header-spacer {
	height: 5px;
}

body[yahoo] .header-spacer img {
	height: 5px !important;
	width: 5px !important;
}

body[yahoo] .header-banner td {
	text-align: center !important;
}

body[yahoo] .logo img {
	height: auto !important;
	margin: auto;
	max-width: 40% !important;
	width: 40% !important;
}

body[yahoo] .banner-padding {
	padding: 20px !important;
}
body[yahoo] .mobile-yellow td {
	background: #ffe52c;
}

body[yahoo] .padding-fix {
	padding: 0 !important;
}

body[yahoo] .mobile-collapse {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
}
</style>