<!-- HEADER - START -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="header-1 draggable">
                <tr>
                  <td bgcolor="#000000" class="header-top" style="padding:20px"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td valign="middle" width="210" align="left" class="logo"><a href="http://www.cityindex.co.uk" title="City Index"  style="color:#FFFFFF;">
                          <img style="display:block; height:auto; font-size:16px; color:#ffffff; font-family:Arial, Helvetica, sans-serif;" border="0" src="http://www.filesandimages.com/Brand/CityIndex/Images/ci_logo_164x23.jpg" height="23" width="164" alt="City Index" />
                          </a></td>
                        <td valign="middle" class="no-mobile" align="center" height="40" bgcolor="#464646" style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; color:#ffffff; display:table-cell; vertical-align:middle;" ><a href="#" style="text-decoration:none; color:#FFFFFF; font-size:13px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; text-decoration: none;width:100%;" class="no-mobile"> Trading Platforms </a></td>
                        <td width="10" class="no-"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/max-spacer.gif" width="10" height="1" alt="" /></td>
                        <td align="center" height="40" bgcolor="#ffe601" valign="middle" class="no-mobile" style="-webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; color:#000000; display:table-cell; vertical-align:middle;" ><a href="#" style="color:#000000; font-size:13px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; text-decoration: none; width:100%;" class="no-mobile">
                          <font contenteditable="true" color="#000000">Apply for an account</font>
                          </a></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <!-- HEADER - STOP -->