<!-- FOOTER - START -->
                        <!-- Footer: Contact Information - START -->
                   <table width="600" border="0" cellspacing="0" cellpadding="0" class="basic-text draggable">      
                        <tr>
                          <td align="center" style="padding:30px;"><table border="0" cellpadding="0" align="left" cellspacing="0" width="49%">
                              <tr>
                                <td width="50%" align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;"><a href="tel:00442087654321" style="font-weight:bold; color:#666666; text-decoration:none; width:100%; display:block;">
                                  <img style="display:block;" border="0" src="http://www.filesandimages.com/Brand/CityIndex/HTML/contact_icon_phone.png" height="68" width="68" alt="Phone" />
                                  <br />
                                  +44 (0) 208 7654 321</a></td>
                                <td width="50%" valign="top" align="center" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;" class="mobile-fix"><a href="mailto:cityindex@cityindex.co.uk" title="Email us" style="font-weight:bold; color:#666666; text-decoration:none; width:100%; display:block;">
                                  <img style="display:block;" border="0" src="http://www.filesandimages.com/Brand/CityIndex/HTML/contact_icon_email.png" height="68" width="68" alt="E-mail" />
                                  <br />
                                  Email us</a></td>
                              </tr>
                            </table>
                            <table border="0" cellpadding="0" align="right" cellspacing="0" width="49%" >
                              <tr>
                                <td width="50%" align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;"><a href="http://www.cityindex.co.uk" title="www.cityindex.co.uk" style="text-decoration:none; color:#666666; width:100%; font-weight:bold;">
                                  <img style="display:block;" border="0" src="http://www.filesandimages.com/Brand/CityIndex/HTML/contact_icon_web.png" height="68" width="68" alt="Website" />
                                  <br />
                                  www.cityindex.co.uk </a></td>
                                <td width="50%" align="center" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;" class="mobile-fix"><a href="#" title="Live chat" style="text-decoration:none; color:#666666; width:100%; font-weight:bold;">
                                  <img style="display:block;" border="0" src="http://www.filesandimages.com/Brand/CityIndex/HTML/contact_icon_chat.png" height="68" width="68" alt="Live chat" />
                                  <br />
                                  Live chat </a></td>
                              </tr>
                            </table></td>
                        </tr>
                        <!-- Footer: Contact Information - END -->
                        
                        <!-- Footer: Disclaimer - START -->
                        <tr>
                          <td bgcolor="#f2f2f2" style="padding:15px 20px 15px 20px; line-height:21px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#9a9a9a;"> Spread betting, CFDs and Forex trading are leveraged products which can result in losses greater than your initial deposit. Ensure you fully understand the risks. </td>
                        </tr>
                        <!-- Footer: Disclaimer - END -->
                        <tr>
                          <td height="30"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/max-spacer.gif" width="1" height="1" alt="" /></td>
                        </tr>
                        
                        <!-- Footer: Social Icons - START -->
                        <tr>
                          <td bgcolor="#000000" height="24" align="right" style="padding:10px"><table border="0" cellpadding="10" cellspacing="0" align="right">
                              <tr>
                                <td align="right" valign="middle"><a href="#" title="Facebook">
                                  <img style="display:block;" border="0" src="http://www.filesandimages.com/Brand/CityIndex/HTML/social_icon_fb.png" height="30" width="15" alt="Facebook" />
                                  </a></td>
                                <td align="right" valign="middle"><a href="#" title="Twitter">
                                  <img style="display:block;" border="0" src="http://www.filesandimages.com/Brand/CityIndex/HTML/social_icon_twitter.png" height="30" width="31" alt="Twitter" />
                                  </a></td>
                                <td align="right" valign="middle"><a href="#" title="Google +">
                                  <img style="display:block;" border="0" src="http://www.filesandimages.com/Brand/CityIndex/HTML/social_icon_google.png" height="30" width="31" alt="Google +" />
                                  </a></td>
                                <td align="right" valign="middle"><a href="#" title="YouTube">
                                  <img style="display:block;" border="0" src="http://www.filesandimages.com/Brand/CityIndex/HTML/social_icon_youtube.png" height="30" width="29" alt="YouTube" />
                                  </a></td>
                              </tr>
                            </table></td>
                        </tr>
                        
                        <!-- Footer: Social Icons - END -->
                        
                        <!-- Footer: Compliance - START -->
                        <tr>
                          <td class="section-padding" style="padding:30px 0 20px 0;"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                              <tr>
                                <td width="47" valign="top"><img style="display:block;" border="0" src="http://www.filesandimages.com/Brand/CityIndex/images/fca_badge.jpg" height="39" width="35" alt="FCA" /></td>
                                <td style="color:#9a9a9a; font-size:13px; line-height:20px; font-family:Arial, Helvetica, sans-serif; padding:0 0 20px 0;"><strong>City Index is authorised and regulated by the Financial Conduct Authority</strong><br />
                                  <a style="color:#9a9a9a; font-size:13px;font-family:Arial, Helvetica, sans-serif; text-decoration:none;" href="#"> More information </a>
                                  &nbsp;|&nbsp;
                                  <a style="color:#9a9a9a; font-size:13px;font-family:Arial, Helvetica, sans-serif; text-decoration:none;" href="#"> Complaints procedure </a>
                                  &nbsp;|&nbsp;
                                  <a style="color:#9a9a9a; font-size:13px;font-family:Arial, Helvetica, sans-serif; text-decoration:none;" href="#"> Other links </a></td>
                              </tr>
                            </table>
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td style="color:#9a9a9a; font-size:11px; font-family:Arial, Helvetica, sans-serif; line-height:20px; padding:0 0 30px 0;"> City Index Limited. Head and Registered Office: Park House, 16 Finsbury Circus, London, EC2M 7EB. City Index Limited is a company registered in England and Wales, number: 1761813. Authorised and Regulated by the
                                  <a href="#" style="text-decoration:none; color:#0084ea;"> Financial Conduct Authority </a>
                                  . FCA Register Number: 113942. VAT number: 524837435. City Index and City Trading are trademarks of City Index Limited. <br />
                                  <br />
                                  Click the following link to
                                  <a href="[gunsub]" style="text-decoration:none; color:#0084ea;"> unsubscribe </a>
                                  . </td>
                              </tr>
                            </table></td>
                        </tr>
                        </table>
                        <!-- Footer: Compliance - END -->
                        <!-- FOOTER - END -->