 <!-- break start -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="hero-4 draggable">
                <tr>
                  <td height="20" class="header-spacer"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/max-spacer.gif" width="1" height="10" alt="" /></td>
                </tr>
              </table>
              <!-- break stop -->
              <!-- Content: Hero Banner 4 - START -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="hero-4 draggable">
                <tr>
                  <td style="padding:30px 20px; " class="section-padding"><table border="0" cellpadding="0" align="left" cellspacing="0" width="100%">
                      <tr>
                        <td valign="top" style="padding:0 30px 0 0" class="no-mobile"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/ashraf_photo_148x148.jpg" height="148" width="148" alt="Ashraf Laidi" /></td>
                        <td valign="top" style="line-height:21px; font-family:Arial, Helvetica, sans-serif; font-size:13px;" ><font contenteditable="true" style="font-size:24px; color:#000000 !important; line-height:28px; font-weight:bold; padding-top:-5px; display:block;">Proin gravida nibh vel velit auctor aliquet enean </font>
                          <font contenteditable="true" style="font-size:16px; color:#000000; line-height:18px;">
                          <br />
                          <strong>Ashraf Laidi</strong>, Chief Global Strategist<br />
                          at City Index </font>
                          <br />
                          <img src="http://www.filesandimages.com/Brand/CityIndex/HTML/twitter_icon_blue.png" height="14" width="17" alt="Twitter" />
                          <a href="#" style="text-decoration:none; color:#00b6e4;">@AshrafiLaidi </a></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <!-- Content: Hero Banner 4 - END -->