 <!-- break start -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="basic-text draggable">
                <tr>
                  <td height="20" class="header-spacer"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/max-spacer.gif" width="1" height="10" alt="" /></td>
                </tr>
              </table>
              <!-- break stop -->
              <!-- Element Block: Simple Content - START -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="basic-text draggable">
                <tr>
                  <td style="padding: 20px 20px 20px 20px; line-height:21px; font-family:Arial, Helvetica, sans-serif; font-size:13px;" class="section-padding"><font contenteditable="true" style="font-weight: bold;" >Dear John,</font><br />
                    <br />
                    <font contenteditable="true" style="font-size:24px; color:#000000 !important; line-height:30px; font-weight:bold;" >Proin gravida nibh vel velit auctor aliquet enean sollicitudin lorem quis bibeis </font>
                    <br />
                    <br />
                    <font contenteditable="true" > Sed semper, nisl eget accumsan tincidunt, purus tortor tempus quam, sed blandit turpis neque eget lectus. Pellentesque habitant
                    <a href="#" class="mail-link" style="text-decoration:none; color:#0084ea;"> morbi tristique </a>
                    senectus et netus et malesuada fames ac turpis egestas. Etiam ornare erat orci, at feugiat nunc viverra at. Pellentesque semper tincidunt consequat. Ut dictum lorem at cursus tempor. </font>
                    <br />
                    <br />
                    <font contenteditable="true" style="font-size:18px; font-weight:bold;" >ECB & Fed Combined Euro Strike</font>
                    <br />
                    <br />
                    <font contenteditable="true" style="font-size:16px; line-height:24px;" >The outcome from China's third Plenary Session suggests the country will prolong the path towards structural reforms. The reform plan covered 15 areas and 60 specific measures. </font>
                    <br />
                    <br /></td>
                </tr>
              </table>
              <!-- Element Block: Simple Content - END -->