  <!-- break start -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="promo-box-2 draggable">
                <tr>
                  <td height="20" class="header-spacer"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/max-spacer.gif" width="1" height="10" alt="" /></td>
                </tr>
              </table>
              <!-- break stop -->
              <!-- Content: Promo Box 2 - START -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="promo-box-2 draggable">
                <tr>
                  <td bgcolor="#f2f2f2" style="padding:20px;" class="padding-fix"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td valign="top" class="no-mobile"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/ashraf_photo_148x148.jpg" height="148" width="148" alt="Ashraf Laidi" /></td>
                        <td valign="top" style="padding: 0 20px 0 20px; line-height:21px; font-family:Arial, Helvetica, sans-serif; font-size:13px;" class="section-padding"><font contenteditable="true" style="font-size:18px; color:#000000 !important; line-height:22px; font-weight:bold; padding-top:-5px; display:block;">Proin gravida nibh vel velit auctor aliquet enean </font>
                          <font contenteditable="true" style="font-size:13px; color:#666666; line-height:18px;">
                          <br />
                          Nunc lobortis, velit at, libero nunc rhoncus ligula, nec vulputate justo felis sed e lorem ipsum quisque euismod interdum urna in porttitor. </font>
                          <br />
                          <br />
                          <img src="http://www.filesandimages.com/Brand/CityIndex/HTML/twitter_icon_blue.png" height="14" width="17" alt="Twitter" />
                          <a href="#" style="text-decoration:none; color:#00b6e4;">@AshrafiLaidi </a>
                          <br />
                          <br />
                          <table border="0" cellpadding="0" cellspacing="0" class="button">
                            <tr>
                              <td align="center" bgcolor="#0084ea" style="-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #ffffff; display: block; padding:15px 30px;"><a title="Apply for an account" href="http://www.cityindex.co.uk/" style="color: #ffffff; font-size:18px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; text-decoration: none; line-height:15px; display:block;"> Take the survey </a></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <!-- Content: Promo Box 2 - END -->