  <!-- break start -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="columns-3 draggable">
                <tr>
                  <td height="20" class="header-spacer"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/max-spacer.gif" width="1" height="10" alt="" /></td>
                </tr>
              </table>
              <!-- break stop -->
              <!-- Content: Two Columns Layout 3 - START -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="columns-3 draggable">
                <tr>
            <td><!-- Content: Left column with top title 1 - START -->
              
              <table width="45%" border="0" align="left" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="margin-fix"><table border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td bgcolor="#e6e6e6" style="padding:20px 30px; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000000;"><font contenteditable="true">
                          <strong>Educational events</strong>
                          <br />
                          February 2014 </font></td>
                      </tr>
                      <tr>
                        <td bgcolor="#f2f2f2" style="padding:20px 30px 20px 30px; font-family:Arial, Helvetica, sans-serif; font-size:13px; max-width:210px; word-wrap: break-word;"><font contenteditable="true" style="font-weight: bold; font-size: 16px; color:#000000;">Suspendisse pellentesque massa vitae fermentum adipiscing </font><br />
                          <br />
                          <font contenteditable="true" style="line-height:20px;">Quisque euismod interdum urna in porttitor. Nunc lobortis, velit at interdum elementum, libero nunc rhoncus ligula, nec vulputate justo. </font>
                          <br />
                          <a href="#" style="text-decoration:none; color:#0084ea;"> Read more</a></td>
                      </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td bgcolor="#f2f2f2" width="50" align="right" valign="top" style="padding:5px 0 0 0;"><img src="http://www.filesandimages.com/Brand/CityIndex/HTML/icon_alarm_clock.png" height="21" width="23" alt="" /></td>
                        <td bgcolor="#f2f2f2" style="padding:0 0 0 10px; line-height:22px;  font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666;"><font contenteditable="true"><strong>Monday 31st February 2014</strong>
                          <br />
                          18:00 - 21:00 </font></td>
                      </tr>
                      <tr>
                        <td bgcolor="#f2f2f2" width="50" align="right" valign="top" style="padding:15px 0 0 0;"><img src="http://www.filesandimages.com/Brand/CityIndex/HTML/icon_map_pin.png" height="23" width="15" alt="" /></td>
                        <td bgcolor="#f2f2f2" style="padding:10px 0 0 10px; line-height:22px;  font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666;"><font contenteditable="true">City Index, Park House, 16 Finsbury Circus, London
                          EC2M 7EB</font></td>
                      </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td bgcolor="#f2f2f2" style="padding:10px 30px 25px 30px; font-family:Arial, Helvetica, sans-serif; font-size:13px;"><a href="#" style="text-decoration:none; color:#0084ea; font-size:13px; font-weight:bold;"> View all educational events</a></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              
              <!-- Content: Left column with top title 1 - END -->
              
              <!-- Content: Left column with top title 2 - START -->
              
              <table width="45%" border="0" align="right" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="margin-fix"><table border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td bgcolor="#e6e6e6" style="padding:20px 30px; font-family:Arial, Helvetica, sans-serif; font-size:18px; color:#000000;"><font contenteditable="true">
                          <strong>Educational events</strong>
                          <br />
                          February 2014 </font></td>
                      </tr>
                      <tr>
                        <td bgcolor="#f2f2f2" style="padding:20px 30px 20px 30px; font-family:Arial, Helvetica, sans-serif; font-size:13px; max-width:210px; word-wrap: break-word;"><font contenteditable="true" style="font-weight: bold; font-size: 16px; color:#000000;">Suspendisse pellentesque massa vitae fermentum adipiscing </font><br />
                          <br />
                          <font contenteditable="true" style="line-height:20px;">Quisque euismod interdum urna in porttitor. Nunc lobortis, velit at interdum elementum, libero nunc rhoncus ligula, nec vulputate justo. </font>
                          <br />
                          <a href="#" style="text-decoration:none; color:#0084ea;"> Read more</a></td>
                      </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td bgcolor="#f2f2f2" width="50" align="right" valign="top" style="padding:5px 0 0 0;"><img src="http://www.filesandimages.com/Brand/CityIndex/HTML/icon_alarm_clock.png" height="21" width="23" alt="" /></td>
                        <td bgcolor="#f2f2f2" style="padding:0 0 0 10px; line-height:22px;  font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666;"><font contenteditable="true"><strong>Monday 31st February 2014</strong>
                          <br />
                          18:00 - 21:00 </font></td>
                      </tr>
                      <tr>
                        <td bgcolor="#f2f2f2" width="50" align="right" valign="top" style="padding:15px 0 0 0;"><img src="http://www.filesandimages.com/Brand/CityIndex/HTML/icon_map_pin.png" height="23" width="15" alt="" /></td>
                        <td bgcolor="#f2f2f2" style="padding:10px 0 0 10px; line-height:22px;  font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#666666;"><font contenteditable="true">City Index, Park House, 16 Finsbury Circus, London
                          EC2M 7EB</font></td>
                      </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td bgcolor="#f2f2f2" style="padding:10px 30px 25px 30px; font-family:Arial, Helvetica, sans-serif; font-size:13px;"><a href="#" style="text-decoration:none; color:#0084ea; font-size:13px; font-weight:bold;"> View all educational events</a></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              
              <!-- Content: Left column with top title 1 - START --></td>
          </tr>
              </table>
              <!-- Content: Two Columns Layout 3 - END -->