 <!-- break start -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="hero-1 draggable">
                <tr>
                  <td height="20" class="header-spacer"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/max-spacer.gif" width="1" height="10" alt="" /></td>
                </tr>
              </table>
              <!-- break stop -->
              
              <!-- Content: Hero Banner - START -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="hero-1 draggable" bgcolor="#f9d900" >
                <tr>
                  <td class="banner-padding" style="padding:40px 20px"><table border="0" cellpadding="0" cellspacing="0" align="left" width="45%">
                      <tr>
                        <td style="padding:0 10px 0 20px;" align="center" class="responsive-image"><img style="display:block;" border="0" src="http://www.filesandimages.com/Brand/CityIndex/Images/apple_27_cinema_display_email_header.jpg" width="210" /></td>
                      </tr>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" align="right" width="50%">
                      <tr>
                        <td style="font-family:Arial, Helvetica, sans-serif; font-size:32px; font-weight:bold; color:#000000 !important;" align="left" class="hero-title"><font contenteditable="true" color="#000000">Introducing a new City Index product</font></td>
                      </tr>
                    </table></td>
                </tr>
                <tr>
                  <td bgcolor="#f9d900" class="banner-padding" style="padding:0px 0 40px 0;"><table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" class="button">
                      <tr>
                        <td align="center"><table border="0" cellpadding="0" cellspacing="0" class="button">
                            <tr>
                              <td align="center" bgcolor="#0084ea" style="-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #ffffff; display: block; padding:20px 30px;"><a title="Apply for an account" href="http://www.cityindex.co.uk/" style="color: #ffffff; font-size:18px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; text-decoration: none; line-height:21px; width:100%; display:inline-block;"> Apply for an account </a></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <!-- Content: Hero Banner - END -->