 <!-- break start -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="columns-4 draggable">
                <tr>
                  <td height="20" class="header-spacer"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/max-spacer.gif" width="1" height="10" alt="" /></td>
                </tr>
              </table>
              <!-- break stop -->
              <!-- Content: 3 columns layout START -->
              <table border="0" cellpadding="0" cellspacing="0" class="columns-4 draggable" width="100%" >
                <tr>
                  <td height="30" colspan="3" class="no-mobile"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/max-spacer.gif" width="1" height="1" alt="" /></td>
                </tr>
                <tr>
                  <!-- Content: 1st column START -->
                  <td align="center" class="mobile-collapse"><table width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="mobile-yellow">
                      <tr class="no-mobile">
                        <td class="responsive-image" bgcolor="#ffe52c" align="center"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/yellow_bg_w180_lcd_screen.jpg"  /></td>
                      </tr>
                      <tr>
                        <td bgcolor="#f2f2f2" style="padding:20px 30px 20px 30px; font-family:Arial, Helvetica, sans-serif; font-size:13px; word-wrap: break-word; max-width:120px;"><font contenteditable="true" style="font-weight: bold; font-size: 16px; color:#000000;">Suspendisse pellentesque massa vitae fermentum adipiscing </font><br />
                          <br />
                          <font contenteditable="true" class="no-mobile" style="line-height:20px;">Quisque euismod interdum urna in porttitor. Nunc lobortis, velit at interdum elementum, libero nunc rhoncus ligula, nec vulputate justo. <br />
                          <br />
                          </font>
                          <a href="#" style="text-decoration:none; color:#0084ea; font-size:13px; font-weight:bold;"> Find out more</a></td>
                      </tr>
                    </table></td>
                  <!-- Content: 1st column END -->
                  
                  <!-- Content: 2nd column START -->
                  <td align="center" class="mobile-collapse"><table  width="180" border="0" align="center" cellpadding="0" cellspacing="0" class="mobile-yellow">
                      <tr class="no-mobile">
                        <td class="responsive-image" bgcolor="#ffe52c" align="center"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/yellow_bg_w180_lcd_screen.jpg"  /></td>
                      </tr>
                      <tr>
                        <td bgcolor="#f2f2f2" style="padding:20px 30px 20px 30px; font-family:Arial, Helvetica, sans-serif; font-size:13px; word-wrap: break-word; max-width:120px;"><font contenteditable="true" style="font-weight: bold; font-size: 16px; color:#000000;">Suspendisse pellentesque massa vitae fermentum adipiscing </font><br />
                          <br />
                          <font contenteditable="true" class="no-mobile" style="line-height:20px;">Quisque euismod interdum urna in porttitor. Nunc lobortis, velit at interdum elementum, libero nunc rhoncus ligula, nec vulputate justo.<br />
                          <br />
                          </font>
                          <a href="#" style="text-decoration:none; color:#0084ea; font-size:13px; font-weight:bold;"> Find out more</a></td>
                      </tr>
                    </table></td>
                  <!-- Content: 2nd column END -->
                  
                  <!-- Content: 3rd column START -->
                  <td align="center" class="mobile-collapse"><table border="0" cellpadding="0" align="center" cellspacing="0"  class="mobile-yellow" width="180">
                      <tr class="no-mobile">
                        <td class="responsive-image" bgcolor="#ffe52c" align="center"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/yellow_bg_w180_lcd_screen.jpg"  /></td>
                      </tr>
                      <tr>
                        <td bgcolor="#f2f2f2" style="padding:20px 30px 20px 30px; font-family:Arial, Helvetica, sans-serif; font-size:13px; word-wrap: break-word; max-width:120px;"><font contenteditable="true" style="font-weight: bold; font-size: 16px; color:#000000;">Suspendisse pellentesque massa vitae fermentum adipiscing </font><br />
                          <br />
                          <font contenteditable="true" class="no-mobile" style="line-height:20px;">Quisque euismod interdum urna in porttitor. Nunc lobortis, velit at interdum elementum, libero nunc rhoncus ligula, nec vulputate justo. <br />
                          <br />
                          </font>
                          <a href="#" style="text-decoration:none; color:#0084ea; font-size:13px; font-weight:bold;"> Find out more</a></td>
                      </tr>
                    </table></td>
                  <!-- Content: 3rd column END -->
                </tr>
              </table>
              <!-- Content: 3 columns layout END -->