 <!-- break start -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="promo-box-3 draggable">
                <tr>
                  <td height="20" class="header-spacer"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/max-spacer.gif" width="1" height="10" alt="" /></td>
                </tr>
              </table>
              <!-- break stop -->
              <!-- Content: Promo Box 3 - START -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="promo-box-3 draggable">
                <tr>
                  <td bgcolor="#f2f2f2" style="padding:20px; line-height:21px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#9a9a9a;"><font contenteditable="true" style="font-size:18px; font-weight:bold; color:#000000;">Ready to complete the survey? It only takes a few minutes.</font>
                    <br />
                    <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
                      <tr>
                        <td style="padding: 20px 0 0 0;" align="center"><table border="0" cellpadding="0" cellspacing="0" class="button">
                            <tr>
                              <td align="center" bgcolor="#0084ea" style="-webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; color: #ffffff; display: block; padding:15px 30px;"><a title="Apply for an account" href="http://www.cityindex.co.uk/" style="color: #ffffff; font-size:18px; font-weight: bold; font-family:Arial, Helvetica, sans-serif; text-decoration: none; line-height:15px; display:block;"> Take the survey </a></td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <!-- Content: Promo Box 3 - END -->