 <!-- break start -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="promo-box-4 draggable">
                <tr>
                  <td height="20" class="header-spacer"><img src="http://www.filesandimages.com/Brand/CityIndex/Images/max-spacer.gif" width="1" height="10" alt="" /></td>
                </tr>
              </table>
              <!-- break stop -->
              <!-- Content: grey box START -->
              <table width="600" border="0" cellspacing="0" cellpadding="0" class="promo-box-4 draggable">
                <tr>
                  <td bgcolor="#f2f2f2" style="padding:20px 30px 15px 30px; line-height:21px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#9a9a9a;"><font contenteditable="true" style="font-size:18px; font-weight:bold; color:#000000;">For further information please contact us today</font></td>
                </tr>
                <tr>
                  <td style="padding:20px; " bgcolor="#f2f2f2"><table border="0" cellpadding="0" align="left" cellspacing="0" width="49%">
                      <tr>
                        <td>
                        <font style="font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#666666; line-height:21px;">
                        <strong>Ashraf Laidi </strong><br />
                          Chief Global Strategist<br />
                          City Index<br />
                          020 7107 7271<br />
                          <a href="mailto:test@test.com" style="text-decoration:none; color:#0084ea;">ashraf.laidi@cityindex.co.uk</a>
                          </font>
                          </td>
                      </tr>
                    </table>
                    <table border="0" cellpadding="0" align="left" cellspacing="0" width="49%">
                      <tr>
                        <td align="left">
                        <font style="font-size:13px; font-family:Arial, Helvetica, sans-serif; color:#666666; line-height:21px;">
                        <strong>Ashraf Laidi </strong><br />
                          Chief Global Strategist<br />
                          City Index<br />
                          020 7107 7271<br />
                          <a href="mailto:test@test.com" style="text-decoration:none; color:#0084ea;">ashraf.laidi@cityindex.co.uk</a>
                          </font>
                          </td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <!-- Content: grey box END -->